@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

*{
    margin: 0%;
    padding: 0%;
    font-family: "VT323";
}

header{
    display: flex;
    font-size: 4vh;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    background-color: beige;
    height: 10vh;
}

#container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#boxes{
    display:flex ;
}

.check{
    background-color: red;
    margin: 1vw;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    margin-bottom: 5vh;
}

#passIn{
    font-size: 3vh;
    text-align: center;
    width: 40vw;
    height: 5vh;
    border-radius: 1vh;
    margin: 1vw;
}